.fader ul.slides li {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
	z-index: 1;
}

.fader ul.slides li:last-child {
	display: inline;
}

.fader ul.background-images li{
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
